.exp-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  margin: auto;
  border-radius: 10px;
  margin-top: 10vh;
  border: thick solid white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.exp-table-col1, .exp-table-col2, .exp-table-col3 {
  border: 1px solid #dddddd;
  text-align: center;
  height: 6vh;
  width: 24vw;
}

.exp-table-col3 {
  background-color: blue;
}

.exp-table-row:nth-child(even) {
  background-color: #dddddd;
}

.exp-table-col2:hover {
  cursor: pointer;
  background-color: blue;
}